extends layout

block content
    h1 It works!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tempore magni eaque, soluta quisquam fuga vero nisi laborum amet vel, voluptates ipsum et, consequuntur accusamus commodi excepturi quo aut obcaecati!
    h2 Genial!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quod, quia perspiciatis. Qui quae omnis quam in alias, ab! Dolorem cupiditate dolore nemo, tenetur. Sapiente quisquam beatae quidem, possimus labore.