extends layout

include mixins/_pollCard
include mixins/_pollCardUser

block content
    h1 #{title}'s account
    if user && user._id.equals(slugId)
        p This is your account
    h2 #{title}'s polls:
    if user && user._id.equals(slugId)
        p <strong>Everyone</strong> can see your polls. <strong>Only you</strong> can see your polls' results or delete the polls
        .polls
            each poll in polls
                +pollCardUser(poll)
    else
        p These are all the polls created by this user
        .polls
            each poll in polls
                +pollCard(poll)