extends layout

include mixins/_pollCard
include mixins/_pollCardUser

block content
    h1 #{title}'s account
    if user && user._id.equals(slugId)
        p This is your account
    if user
        p This is your current id <strong>#{user._id}</strong> and name <strong>#{user.name}</strong>
    h2 #{title}'s polls:
    .polls
        if user && user._id.equals(slugId)
            each poll in polls
                +pollCardUser(poll)
        else
            each poll in polls
                +pollCard(poll)