mixin pollForm(poll = {})
    form(action=`/new/poll/` method="POST")
        label(for="name") Name
        input(type="text" name="name" required)
        .options
            label(for="options[0][option]") Option 1
            input(type="text" name="options[0][option]" required)
            label(for="options[1][option]") Option 2
            input(type="text" name="options[1][option]" required)
            p.add-option ➕ Add new option to the poll
        //- And the Submit Button
        input(type="submit" value="Save! ▶️" class="button")