@use 'variables';
.polls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  @media all and (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media all and (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}
.poll-card {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
  border-top: 3px solid variables.$grey;
  padding: 20px 10px 0;
  opacity: 1;
  transition: all 0.5s;
  box-shadow: 0 1px 2px variables.$grey;
  h2 {
    margin-bottom: 10px;
    a {
      color: variables.$black;
      &:hover {
        color: variables.$purple;
      }
    }
  }
  &:hover {
    border-color: variables.$purple;
  }
  &.hidden {
    opacity: 0;
  }
  &.gone-forever {
    display: none;
  }
  .delete-form {
    &.hidden {
      display: none;
    }
  }
}

p.created {
  font-size: 15px;
  color: #aaa;
  margin-bottom: 10px;
}

.delete-form {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px 10px 0;
}

// Single Poll
.poll {
  .poll-title {
    padding-bottom: 40px;
    h1 {
      margin-bottom: 10px;
      display: inline-block;
    }
    .twitter-share-button {
      display: inline-block;
      margin-left: 30px;
    }
    .total-votes {
      font-weight: 700;
    }
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 40px 0;
    button {
      margin: 0;
      background-color: variables.$purple;
      border: 3px solid variables.$purple;
      padding: 15px;
      color: variables.$white;
      &:hover {
        background-color: variables.$white;
        color: variables.$purple;
        cursor: pointer;
      }
    }
  }
  .results {
    .result {
      display: inline-block;
      border: 1px solid variables.$white;
      background-color: rgba(130, 124, 210, 0.3);
      text-align: center;
      padding: 20px;
      overflow: hidden;
      word-wrap: normal;
      &.empty {
        display: none;
      }
    }
  }
  form.store-option-form.hidden {
    display: none;
  }
}

#results-chart {
  max-width: 450px;
}