.polls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.poll-card {
  display: grid;
  grid-template-rows: 1fr auto;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 10px;
  opacity: 1;
  transition: all 0.5s;
  h2 {
    text-align: center;
    a {
      color: $black;
      &:hover {
        color: $purple;
      }
    }
  }
  &:hover {
    border-color: $purple;
  }
  &.hidden {
    opacity: 0;
  }
  &.gone-forever {
    display: none;
  }
  .delete-form {
    &.hidden {
      display: none;
    }
  }
}

p.created {
  font-size: 15px;
  color: #aaa;
}

.delete-form {
  background-color: #eee;
  border-radius: $rad;
  text-align: center;
  padding: 20px 10px 0;
}

// Single Poll
.poll {
  form {
    display: flex;
    margin: 40px 0;
    button {
      flex: 1;
      margin: 10px;
      background-color: $purple;
      border: 3px solid $purple;
      padding: 15px;
      color: $white;
      &:hover {
        background-color: $white;
        color: $purple;
        cursor: pointer;
      }
    }
  }
  .results {
    .result {
      display: inline-block;
      border: 1px solid $white;
      background-color: rgba(130, 124, 210, 0.3);
      text-align: center;
      padding: 20px;
      overflow: hidden;
      word-wrap: normal;
      &.empty {
        display: none;
      }
    }
  }
  form.store-option-form.hidden {
    display: none;
  }
}